body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}

p,h1,h2,h3,h4,h5,h6 {
margin-top: 0;
margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1440px;
  width: 1158;
  padding: 0 15px;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
  /* outline: 2px solid red; */
}


.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

/*-------------heder--------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex  ;
}

.header-container {
  display: flex;
  background-color: #FFF;
}

.header-navigation {
  display: flex;
  /* padding: 24px 156px 24px 150px; */
  align-items: center;
}

.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* display: flex; */
  margin-top: 29px;
  margin-bottom: 19px;
  margin-right: 76px;
  margin-left: 150px;
}

.header-logo-span {
  color: #2E2F42;
}

.header-menu-list {
  display: flex;
  /* padding-top: 24px;
  padding-bottom: 24px; */
  gap: 40px;
  margin-right: 332px;
}

.header-menu-link {
  color: #2E2F42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: #404bbf;
}

.header-contacts-list {
  display: flex;
  /* margin-left: 332px; */
  padding-top: 24px;
  padding-bottom: 24px;
  gap: 40px;
}

/*! ------------------------------------- */

/** --------------adress-------------- */


.header-contacts-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address {
  font-style: normal;
}

.header-contacts-link:hover,
.header-contacts-link:focus,
.header-contacts-link:active {
  color: #404bbf
}


/*! ------------------------------------- */

/** --------------HERO-------------- */


.hero-container {
  background-color: #2E2F42;
  padding: 188px 0 188px 0;
}

.hero-title {
  color: var(--WHITE, #FFF);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  display: flex;
  display: block;
  max-width: 496px;
  margin-left: 472px;

}


.hero-btn {
  padding: 16px 32px;
  color: #FFF;
  display: flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4D5AE5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  margin-top: 48px;
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background-color: #404BBF;
}

/*! ------------------------------------- */

/**---------features-----------*/

.features {
  background-color: #F4F4FD;
  display: block;
  /* padding: 120px 0; */
}

.features-container {
  background-color: #FFF;
  padding: 120px 0;
  margin-left: 0 156px 0 156px;
  flex-basis: calc((100% - 3 * 24px) / 4);
  margin: 0 auto;
}

/* .features-item {
  gap: 24px;
} */

.features-list {
  background-color: #FFFFFF;
  display: flex;
  gap: 24px;
  outline: 1px solid #2E2F42; 
}


.features-subtitle {
  color: var(--NAVY-BLUE, #2E2F42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-item-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*! ------------------------------------- */

/* ---------------Team------------------- */

.team-container {
  background-color: #F4F4FD;
  outline: 2px solid black;
  /* display: flex; */
}

.team-title {
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  /* display: flex; */
  margin-top: 120px;
  margin-bottom: 72px;
}

.team-list {
  background-color: #F4F4FD;
  display: flex;
  gap: 24px;
  margin-bottom: 120px;
  padding-left: 156px;
}

.team-item {
  background-color: #FFF;
  border-radius: 0px 0px 4px 4px;

}

.team-img {
  margin-bottom: 32px;
  display: block;
  /* display: flex; */
}

.team-subtitle {
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-item-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}


/*! ------------------------------------- */

/* ---------------portfolio--------------- */

.portfolio-container {
  background-color: #FFF;
  padding: 120px 156px;
}

.portfolio-title {
    color: #D9D9D9;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.portfolio-img {
  margin-bottom: 32px;
  display: block;
}

.portfolio-subtitle {
  color: var(--NAVY-BLUE, #2E2F42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.portfolio-item-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

/*! ------------------------------- */

/* -------------footer----------------- */

.footer {
  padding-bottom: 24px;
}

.footer-container {
  background-color: #2E2F42;
  padding: 140px 1020px 100px 156px;
}

.footer-logo {
  color: var(--IRIS, #4D5AE5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-logo-span {
  color: var(--CLOUD, #F4F4FD);
}

.footer-item-text {
  color: var(--CLOUD, #F4F4FD);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
  padding-top: 16px;
}

/*! ------------------------------- */

