*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  color: #434455;
  background-color: #FFFFFF;
}


p,h1,h2,h3,h4,h5,h6 {
margin-top: 0;
margin-bottom: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}


.link {
  text-decoration: none;
}


/*-------------heder--------------*/

.header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  background-color: #FFF;
  align-items: center;
}

.header-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-logo {
  color: #4d5ae5;
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}

.header-logo-span {
  color: #2E2F42;
}

.header-menu-list {
  display: flex;
  gap: 40px;
}

.header-menu-link {
  color: #2E2F42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
}


.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
  color: #404bbf;
}

.header-contacts-list {
  display: flex;
  padding: 24px 0;
  gap: 40px;
}

/*! ------------------------------------- */

/** --------------adress-------------- */


.header-contacts-link {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.header-address {
  font-style: normal;
}

.header-contacts-link:hover,
.header-contacts-link:focus,
.header-contacts-link:active {
  color: #404bbf
}


/*! ------------------------------------- */

/** --------------HERO-------------- */

.hero {
  padding: 188px 0;
  background-color: #2E2F42;
}


.hero-title {
  color: var(--WHITE, #FFF);
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  display: flex;
  display: block;
  max-width: 496px;
  margin: 0 auto;
}


.hero-btn {
  padding: 16px 32px;
  color: #FFF;
  display: flex;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  background-color: #4D5AE5;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
  min-width: 169px;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  margin-top: 48px;
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background-color: #404BBF;
}

/*! ------------------------------------- */

/**---------features-----------*/

.features {
  padding: 120px 0;
}


.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: calc((100% - 3 * 24px) / 4);
}

.features-subtitle {
  color: var(--NAVY-BLUE, #2E2F42);
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.features-item-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*! ------------------------------------- */

/* ---------------Team------------------- */

.team {
  padding: 120px 0;
  background-color: #F4F4FD;

}

.team-title {
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #FFF;
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 3*24px) /4);
}

.team-personnel {
  padding: 32px 0;
}

.team-subtitle {
  color: var(--NAVY-BLUE, #2E2F42);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-item-text {
  color: var(--SLATE, #434455);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}


/*! ------------------------------------- */

/* ---------------portfolio--------------- */

.portfolio {
  padding: 120px 0;
  background-color: #FFF;

}

.portfolio-title {
  color: #D9D9D9;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  background: var(--WHITE, #FFF);
  width: calc((100% - 48px) / 3);
}


.portfolio-services {
  border: 1px solid var(--CORNFLOWER, #E7E9FC);
  padding: 32px 16px;
  border-top: none;
}


.portfolio-subtitle {
  color: var(--NAVY-BLUE, #2E2F42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.portfolio-item-text {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*! ------------------------------- */

/* -------------footer----------------- */

.footer {
  padding: 100px 0;
  background-color: #2E2F42;
  
}

.footer-logo {
  color: var(--IRIS, #4D5AE5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.footer-logo-span {
  color: var(--CLOUD, #F4F4FD);
}

.footer-item-text {
  color: var(--CLOUD, #F4F4FD);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  max-width: 264px;
}

/*! ------------------------------- */

