body {
 font-family: Roboto, sans-serif;
 color: #434455;
 background-color: #FFFFFF
}

p,h1,h2,h3 {
margin-top: 0;
margin-bottom: 0;
}

a {
 text-decoration: none;
 color: currentColor;
}

ul {
 list-style: none;
 margin-top: 0;
 margin-bottom: 0;
 padding-left: 0;
}

button {
 cursor: pointer;
}

address {
 font-style: normal;
}

.container {
 width: 100%;
 max-width: 1440px;
 padding-left: 156px;
 padding-right: 156px;
 margin: 0 auto;
 box-sizing: border-box;
 overflow: hidden;
 /* outline: 2px solid red; */
}

.link {
 text-decoration: none;
}



/*-------------heder--------------*/

.header {
 padding-top: 24px;
 padding-bottom: 24px;
}

.header-container {
  display: flex;
  background-color: #FFF;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-logo {
 color: #4d5ae5;
 font-family: Raleway, sans-serif;
 font-size: 18px;
 font-weight: 700;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 display: flex;
 margin-left: -6px;
}

.header-logo-span {
 color: #2E2F42;
}

.header-menu-list {
  display: flex;
  margin-left: 82px;
  gap: 40px;
}

.header-menu-link {
 color: #2E2F42;
 font-size: 16px;
 font-weight: 500;
 line-height: 1.5;
 letter-spacing: 0.02em;
}


.header-menu-link:hover,
.header-menu-link:focus,
.header-menu-link:active {
 color: #404bbf;
}

.header-contacts-list {
  display: flex;
  margin-left: 332px;
  gap: 40px;
}

/*! ------------------------------------- */

/** --------------adress-------------- */


.header-contacts-link {
 color: #434455;
 font-size: 16px;
 font-weight: 400;
 line-height: 1.5;
 letter-spacing: 0.02em;
}

.header-address {
 font-style: normal;
}

.header-contacts-link:hover,
.header-contacts-link:focus,
.header-contacts-link:active {
 color: #404bbf
}


/*! ------------------------------------- */

/** --------------HERO-------------- */

.hero {}

.hero-container {
 background-color: #2E2F42;
  padding: 188px 472px 292px 472px;
  


}

.hero-title {
 color: var(--WHITE, #FFF);
 text-align: center;
 font-size: 56px;
 font-weight: 700;
 line-height: 1.07;
 letter-spacing: 0.02em;
 margin-bottom: 48px;
 max-width: 496px;
}


.hero-btn {
 padding: 16px 32px;
 color: #FFF;
 font-family: inherit;
 font-size: 16px;
 font-weight: 500;
 line-height: 1.5;
 letter-spacing: 0.04em;
 border-radius: 5px;
background-color: #4D5AE5;
margin: 0 auto;
border: none;
 cursor: pointer;
display: flex;
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
 background-color: #404BBF;
}

/*! ------------------------------------- */

/**---------features-----------*/

.features-container {
  background-color: #FFF;
  padding: 120px 156px;

}
.features {
 background-color: #F4F4FD;
 padding-top: 0 auto;
 padding-bottom: 0 auto;
}

.features-list {
 background-color: #FFFFFF;
 display: flex;
 gap: 24px;
  /* box-sizing: border-box; */
 outline: 1px solid #2E2F42; 
}

.features-subtitle {
 color: var(--NAVY-BLUE, #2E2F42);
 font-size: 20px;
 font-weight: 500;
 line-height: 1.2;
 letter-spacing: 0.02em;
 margin-bottom: 8px;

}

.features-item-text {
 color: var(--SLATE, #434455);
 font-size: 16px;
 font-weight: 400;
 line-height: 1.5;
 letter-spacing: 0.02em;
}

/*! ------------------------------------- */

/* ---------------Team------------------- */

.team-container {
 background-color: #F4F4FD;
  outline: 2px solid black;
  padding: 232px 156px 120px;
}

.team-title {
 color: var(--NAVY-BLUE, #2E2F42);
 text-align: center;
 font-size: 36px;
 font-weight: 700;
 line-height: 1.11;
 letter-spacing: 0.02em;
 text-transform: capitalize;
 margin-bottom: 120px;
}

.team-list {
 background-color: #FFFFFF;
 display: flex;
 gap: 24px;
}

.team-item {
 background-color: #FFFFFF;
 margin-bottom: 72px;
}

.team-subtitle {
 color: var(--NAVY-BLUE, #2E2F42);
 text-align: center;
 font-size: 20px;
 font-weight: 500;
 line-height: 1.2;
 letter-spacing: 0.02em;
}

.team-item-text {
 color: var(--SLATE, #434455);
 text-align: center;
 font-size: 16px;
 font-weight: 400;
 line-height: 1.5;
 letter-spacing: 0.02em;
}

/*! ------------------------------------- */

/* ---------------portfolio--------------- */

.portfolio-title {
 color: #D9D9D9;
 text-align: center;
 text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
 font-size: 36px;
 font-weight: 700;
 line-height: 1.11;
 letter-spacing: 0.02em;
 text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.portfolio-subtitle {
 color: var(--NAVY-BLUE, #2E2F42);
 font-size: 20px;
 font-weight: 500;
 line-height: 1.2;
 letter-spacing: 0.02em;
}

.portfolio-item-text {
 color: var(--SLATE, #434455);
 font-size: 16px;
 font-weight: 400;
 line-height: 1.5;
 letter-spacing: 0.02em;
}

/*! ------------------------------- */

/* -------------footer----------------- */

.footer-container {
 background-color: #2E2F42;
 padding: 140px 1020px 100px 156px;
}

.footer-logo {
 color: var(--IRIS, #4D5AE5);
 font-family: Raleway, sans-serif;
 font-size: 18px;
 font-weight: 700;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-transform: uppercase;
}

.footer-logo-span {
 color: var(--CLOUD, #F4F4FD);
}

.footer-item-text {
 color: var(--CLOUD, #F4F4FD);
 font-size: 16px;
 font-weight: 400;
 line-height: 1.5;
 letter-spacing: 0.02em;
 padding: 16px;
}

/*! ------------------------------- */

